{% extends 'login.html' %}
{% load static %}

{% block content %}
<div class="content">
    <h1 class="page-name">Sign In</h1>
    <div class="form-border">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                {{ form.username }}
                {{ form.password }}
                <div class="remember-me-group">
                    <div class="remember-me-box">
                        {{ form.remember_me }}
                    </div>
                    <label for="{{ form.remember_me.id_for_label }}">Remember Me</label>
                    
                </div>
                <p><a href="{% url 'createaccount' %}">Create Account</a></p>
                <button type="submit">Login</button>
                
            </div>
        </form>
    </div>
    
</div>
{% endblock %}